


<select (change)="onChange($event.target.value)" class="form-control">
  <option value="allGenres">All Genres</option>
  <option value="hardcore">Hardcore</option>
  <option value="pop">Pop</option>
  <option value="jazz">Jazz</option>
  <option value="rock">Rock</option>
  <option value="hipHop">Hip Hop</option>
  <option value="world">World Music</option>
  <option value="classical">Classical</option>
  <option value="blues">Blues</option>
  <option value="other">Other</option>
</select>

<div *ngFor="let album of albums | async | genre:filterByGenre" class="f-row responsive box-dark border">
  <div class="f-col-4 bg-light box-light card">
    <div>
      <h1> {{album.albumName}}</h1>
      <h4>Artist: {{album.artistName}}</h4>
      <h4>${{album.currentAmount}} recieved out of ${{album.goal}}</h4>
      <button (click)="clickDetails(album)">Details</button>
    </div>
  </div>
  <div class="f-col-4 bg-light text-center box-light card">
    <div>
      <img src="{{album.url}}" alt="album art" class="albumImg" />
    </div>
  </div>
</div>
