
body{
  background-color: #EAEAEA;
  font-family:'raleway', sans-serif;
  font-weight: lighter;
  letter-spacing: .5px;
}

.albumImg{
  max-width: 400px;
  max-height: 400px;
}

.border{
  margin-bottom: 40px;
}

.support {
  width: 20%;
}

.card {
  margin: 30px;
}
